DATABASE_URL=""
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
HERMES_MODE="mock"
HERMES_API_BASE_URL=""
HERMES_API_KEY=""
HERMES_RESEARCH_OUTPUT_PATH_TEMPLATE=""
HERMES_RESEARCH_WORKER_POLL_MS="5000"
HERMES_RESEARCH_STALE_RUNNING_MS="900000"
HERMES_LOCAL_ROOT=""
HERMES_LOCAL_PYTHON=""
HERMES_LOCAL_TIMEOUT_MS=""
HERMES_INFERENCE_PROVIDER=""
HERMES_INFERENCE_MODEL=""
